@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #334155;
  --accent: #22d3ee;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}
